<section class="first-content"><a href="https://adalab.es/"> <img
        class="first-content__menu"
        src="./assets/images/ico-menu.svg"
        alt="menu"
        title="menu" 
      /></a>
      <div class="first-content--div">
        <h1   class="first-content__title">Anonymous proxy</h1>
        <p class="first-content__text">In hac habitasse platea dictumst.</p>
        <a href=""></a>
        <a href="index.html#purchase""><img
          class="first-content__scroll"
          src="./assets/images/ico-scroll-down.svg"
          alt=""
        /></a>
      </div>
</section>