<footer class="footer">
  <a href="index.html#start">
    <img src="./assets/images/ico-arrow.svg" alt="arrow" class="footer__arrow"
  /></a>

  <nav>
    <ul class="footer__nav1">
      <li><a class="footer__nav--a" href="https://adalab.es/">articles</a></li>
      <li><a class="footer__nav--a" href="https://adalab.es/">books</a></li>
      <li><a class="footer__nav--a" href="https://adalab.es/">events</a></li>
      <li><a class="footer__nav--a" href="https://adalab.es/">reasons</a></li>
      <li><a class="footer__nav--a" href="https://adalab.es/">tips</a></li>
    </ul>
  </nav>
  <nav>
    <ul class="footer__nav2">
      <li><a class="footer__nav--a" href="https://adalab.es/">twitter</a></li>
      <li><a class="footer__nav--a" href="https://adalab.es/">instagram</a></li>
      <li>
        <a class="footer__nav--a" href="https://adalab.es/">mastodon.social</a>
      </li>
    </ul>
  </nav>
  <section>
    <p class="footer__copy">&copy;2022</p>
    <p class="footer__components">we &#128147; components</p>
  </section>
</footer>
