<section class="third-content">
  <h3 id="purchase" class="third-content__text">3 reason to purchase</h3>
  <aside class="third-content__aside1">
    <h3 class="third-content__titles">Ut sed metus</h3>
    <p class="third-content__info">Lorem ipsum dolor sit amet, consecteur</p>
  </aside>
  <aside class="third-content__aside2">
    <h3 class="third-content__titles">Curabitur ac erat</h3>
    <p class="third-content__info">Mauris mattis urna quis lorem molestie.</p>
  </aside>
  <aside class="third-content__aside3">
    <h3 class="third-content__titles">Morbi dictum</h3>
    <p class="third-content__info">Aliquam in dolor et dolor tincidunt.</p>
  </aside>
</section>
<section class="section__btn">
  <button class="btn">
    <a class="btn-text" href=""><p class="btn-text">More reasons</p></a>
  </button>
</section>
