// fonts
$first-font: "Roboto Slab", serif;
$secon-font: "Roboto", sans-serif;

// colors
$darkblue-color: #304268;
$blue-color: #0271bc;
$lightblue-color: #8ccbea;
$white-color: #fff;
$orange-color: #f26002;
$gray-color: #4a4a4a;
