.footer {
  background-color: $darkblue-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  &arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer__arrow {
  animation-name: example;
  animation-duration: 4s;
}
@keyframes example {
  from {
    background-color: rgba(241, 48, 48, 0.8);
  }
  to {
    background-color: rgba(63, 194, 166, 0.8);
  }
}

.footer__arrow {
  width: 2.313em;
  height: 2.313em;
  background-color: $white-color;
  border-radius: 50%;
  padding: 8px;
  position: absolute;
}

.footer__nav1 {
  color: $white-color;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
  margin-top: 2em;
}
.footer__nav2 {
  color: $white-color;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  text-transform: uppercase;
  margin-top: 2em;
  list-style: none;
}
.footer__copy {
  color: $white-color;
  margin-top: 1.93em;
  margin-left: 8.1em;
  margin-right: 7.62em;
  font-family: $secon-font;
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  margin-bottom: 36px;
  list-style: none;
}

.footer__nav--a {
  text-decoration: none;
  color: $white-color;
}
@media all and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-start;
    flex-basis: auto;
  }
  .footer__arrow {
    top: 77em;
    right: 22em;
  }

  .footer__nav1 {
    order: 2;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 3em;
    text-align: justify;
  }
  .footer__nav2 {
    order: 3;
    margin-top: 1em;
    text-align: justify;
  }
  .footer__copy {
    list-style: none;
    order: 1;
    margin-left: 4em;
    text-align: justify;
  }
}
@media all and (min-width: 1280px) {
  .footer__arrow {
    top: 85em;
    right: 40em;
  }
  .footer {
    justify-content: center;
  }
  .footer__nav1 {
    margin-bottom: 2em;
  }
}
