/*@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';s

@import 'pages/index';
*/
@import "core/variables";
@import "core/reset";
@import "layout/first-content.scss";
@import "layout/second-content.scss";
@import "layout/third-content.scss";
@import "layout/footer";

@media all and (min-width: 768px) {
  .third-content {
    grid-template-columns: auto auto auto auto;
    display: grid;
    grid-template-areas:
      "header header header header header header"
      "left left center center right right";

    align-content: space-evenly;
    align-items: start;
    column-gap: 2px;
  }
  .third-content__text {
    grid-area: header;
    font-size: 26px;
    margin-top: 36px;
  }
  .third-content__aside1 {
    grid-area: left;
  }
  .third-content__aside2 {
    grid-area: center;
  }
  .third-content__aside3 {
    grid-area: right;
  }
  .third-content__titles {
    font-size: 24px;
  }
  .btn {
    align-items: center;
    margin-left: 2em;
  }
  .btn-text {
    text-decoration: none;
  }

  .footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-start;
    flex-basis: auto;
  }
  .footer__arrow {
    top: 81em;
    right: 22em;
  }

  .footer__nav1 {
    order: 2;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 3em;
  }
  .footer__nav2 {
    order: 3;
    margin-top: 1em;
  }
  .footer__copy {
    list-style: none;
    order: 1;
    margin-left: 4em;
  }
}

/*
@media (min-width: 768px) {
}
*/
