/*@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
*/
@import "core/variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.first-content {
  display: flex;
  flex-direction: column;
}
.first-content__menu {
  width: 31.7px;
  height: 22px;
  color: $blue-color;
  position: absolute;
  top: 0 2px;
  padding: 2px;
}
.first-content__baground {
  width: 100vw;
  height: 70vh;
  padding-top: 0;
}
.first-content__title {
  color: $white-color;
  line-height: 1.31;
  text-align: center;
  font-family: $font-main;
  margin: 280.3px 0 60.9px 3px;
  position: absolute;
  font-weight: bold;
  font-size: 42px;
  text-transform: uppercase;
}
.first-content__text {
  color: $white-color;
  position: absolute;
  font-size: 16px;
  margin: 400px 0 60.9px 70px;
}
.first-content__scroll {
  position: absolute;
  padding: 14.8px 10.1px 12.6px;
  background-color: $white-color;
  border-radius: 50%;
  margin: 430px 150px;
}
.second-content {
  margin-top: 56px;
}
.second-content__text {
  color: $lightblue-color;
  font-size: 14px;
  line-height: 2.14px;
  text-align: left;
  margin: 37px 15px 15px;
}
.second-content__title {
  font-size: 24px;
  font-family: $font-main;
  margin: 7px 15px 15px;
}
.second-content__text2 {
  font-size: 18px;
  color: $gray-color;
  align-items: left;
  margin: 15px 15px 15px 15px;
  line-height: 1.67;
  padding: 2px;
}
.second-content__rectangle {
  width: 76px;
  height: 45px;
  border: solid 2px $orange-color;
  border-radius: 22.5px;
  flex-grow: 0;
  margin: 10px 10px;
}
.second-content__rectangle--text {
  width: 25px;
  height: 45px;
  margin: 1px 25px 0 26px;
  font-size: 20px;
  font-weight: 500;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
  color: $orange-color;
}
.third-content {
  background-color: $lightblue-color;
  height: 100vh;
  width: 100vw;
  display: grid;
  column-gap: 50px;
  grid-template-columns: 1fr;
  justify-items: center;
}
.third-content__text {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  margin-top: 29px;
}
.third-content__titles {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
}
.third-content__aside1 {
}
.third-content__aside2 {
}
.third-content__aside3 {
}
.third-content__info {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  margin-left: 70px;
  margin-right: 70px;
}
.btn {
  background-color: $orange-color;
  width: 184px;
  height: 45px;
  flex-grow: 0;
  margin: 0 0 10px;
  border-radius: 22.5px;
  border: none;
}
.btn-text {
  color: $white-color;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
}
.footer {
  background-color: $darkblue-color;
  display: flex;
  flex-direction: column;
}
.footer__nav {
  color: $white-color;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
